NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=datalake-dev-clinica-control.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=datalake-dev-clinica-control
NEXT_PUBLIC_SITE_URL=http://localhost:3000
